<?xml version="1.0"?>
<launch>
    <arg name="machine" default="localhost"/>
    <arg name="use_machine" default="true"/>

    <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

    <node pkg="butia_recognition" type="yolov5_recognition.py" output="screen" name="yolov5_object_recognition" machine="$(arg machine)">
        <rosparam command="load" file="$(find butia_recognition)/config/object_recognition_larc2022_real.yaml"/>
    </node>

</launch>