<launch>
  <arg name="machine" default="localhost"/>
  <arg name="use_machine" default="true"/>
  <arg name="output" default="screen"/>

  <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

  <node pkg="butia_recognition" type="yolov5_recognition.py" output="$(arg output)" name="yolov5_people_detection" machine="$(arg machine)">
    <rosparam command="load" file="$(find butia_recognition)/config/yolov5_people_detection.yaml"/>
  </node>

  <node pkg="butia_2Dto3D" type="twoD2threeD.py" output="$(arg output)" name="twoD2threeD_people_detection_node" machine="$(arg machine)">
    <remap from="sub/recognitions2d"  to="/butia_vision/br/people_detection"/>
 </node>

</launch>
