<?xml version="1.0" encoding="utf-8" ?>

<launch>
    <!-- Console launch prefix -->
    <arg name="launch_prefix" default="" />

    <!-- Config and weights folder. -->
    <arg name="debug" default="true" />

    <include file="$(find mask_rcnn_ros)/launch/mask_rcnn_ros.launch" />

    <!-- Load parameters -->
    <rosparam command="load" ns="instance_segmentation" file="$(find instance_segmentation)/config/ros.yaml" />
    <rosparam command="load" ns="instance_segmentation" file="$(find instance_segmentation)/config/instance_segmentation.yaml" />

    <node pkg="instance_segmentation" type="instance_segmentation_node.py" name="instance_segmentation" output="screen" />

</launch>
