[submodule "butia_vision_msgs"]
	path = butia_vision_msgs
	url = https://github.com/butia-bots/butia_vision_msgs

[submodule "butia_recognition/include/yolov5"]
	path = butia_recognition/include/yolov5
	url = https://github.com/butia-bots/yolov5