base
numpy==1.22.0
tensorflow==2.8.0
protobuf==3.19.4
tensorboard==2.8
espnet==202207
pandas==1.3.5
matplotlib==3.5.3
certifi==2022.6.15.1
jinja2==3.1.2
urllib3==1.26.12
idna==3.3
pyparsing==3.0.9
props
librosa==0.9.2
multipledispatch==0.6.0
yolov5==7.0.9
python-dateutil==2.8.2  
setuptools==67.3.1 
open3d==0.13.0
