<launch>
  <arg name="machine" default="localhost"/>
  <arg name="use_machine" default="true"/>
  <arg name="output" default="screen"/>

  <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

  <rosparam command="load" ns="shelf_detection" file="$(find shelf_detection)/config/ros.yaml"/>

  <node name="shelf_detection_node" pkg="shelf_detection" type="shelf_detection_node.py" output="$(arg output)" machine="$(arg machine)"/>
</launch>
