<launch>
    <arg name="machine" default="localhost"/>
    <arg name="bvb_machine" default="$(arg machine)"/>
    <arg name="br_machine" default="$(arg machine)"/>
    <arg name="i2w_machine" default="$(arg machine)"/>
    <arg name="use_machine" default="true"/>
    <arg name="output" default="screen"/>
    <arg name="use_bridge" default="false"/>
    <arg name="use_image2world" default="true"/>
    <arg name="publish_tf" default="true"/>
    <arg name="config_file" default="yolov8_object_recognition.yaml"/>
    <arg name="node_name" default="butia_object_recognition_node"/>
    <arg name="camera" default="kinect"/>

    <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

    <include file="$(find butia_vision_bridge)/launch/butia_vision_bridge.launch">
        <arg name="machine" value="$(arg bvb_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="use_bridge" value="$(arg use_bridge)"/>
        <arg name="publish_tf" value="$(arg publish_tf)"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <include file="$(find butia_recognition)/launch/yolov8_object_recognition.launch">
        <arg name="machine" value="$(arg br_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="node_name" value="$(arg node_name)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="config_file" value="$(arg config_file)"/>
    </include>

</launch>
