<launch>
    <arg name="bvb_machine" default="localhost"/>
    <arg name="or_machine" default="localhost"/>
    <arg name="i2k_machine" default="localhost"/>
    <arg name="use_machine" default="true"/>
    <arg name="output" default="screen"/>
    <arg name="use_kinect" default="true"/>

    <arg name="or_config_file" default="object_recognition.yaml"/>

    <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

    <include file="$(find butia_vision_bridge)/launch/butia_vision_bridge.launch">
        <arg name="machine" value="$(arg bvb_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="use_kinect" value="$(arg use_kinect)"/>
    </include>

    <include file="$(find object_recognition)/launch/object_recognition.launch">
        <arg name="machine" value="$(arg or_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
    </include>
    
    <include file="$(find image2kinect)/launch/image2kinect.launch">
        <arg name="machine" value="$(arg i2k_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
    </include>

</launch>
