<launch>
    <arg name="machine" default="localhost"/>
    <arg name="bvb_machine" default="$(arg machine)"/>
    <arg name="br_machine" default="$(arg machine)"/>
    <arg name="i2w_machine" default="$(arg machine)"/>
    <arg name="use_machine" default="true"/>
    <arg name="output" default="screen"/>
    <arg name="use_kinect" default="true"/>
    <arg name="use_bridge" default="false"/>
    <arg name="use_image2world" default="true"/>
    <arg name="publish_tf" default="true"/>
    <arg name="config_file" default="yolov5_people_detection.yaml"/>

    <include file="$(find butia_vision_launchfiles)/people_detection.launch">
        <arg name="machine" value="$(arg machine)"/>
        <arg name="bvb_machine" value="$(arg bvb_machine)"/>
        <arg name="br_machine" value="$(arg br_machine)"/>
        <arg name="i2w_machine" value="$(arg i2w_machine)"/>
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="use_kinect" value="$(arg use_kinect)"/>
        <arg name="use_bridge" value="$(arg use_bridge)"/>
        <arg name="publish_tf" value="$(arg publish_tf)"/>
        <arg name="config_file" value="$(arg config_file)"/>
        <arg name="use_image2world" value="false"/>
    </include>
    
    <include file="$(find butia_people_tracking)/launch/people_reidentification.launch">
        <arg name="machine" value="$(arg br_machine)"/>
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
    </include>

    <node pkg="butia_image2world" type="image2world.py" output="$(arg output)" name="image2world_people_detection_node" machine="$(arg i2w_machine)">
        <remap from="sub/recognitions2d"  to="/butia_vision/pt/people_tracking"/>
        <remap from="pub/recognitions3d"  to="/butia_vision/pt/people_tracking3d"/>
        <remap from="pub/markers" to="/butia_vision/pt/people_tracking_markers"/>
        <rosparam param="color">[0,255,0]</rosparam>
        <rosparam param="n_neighbors_cluster_selection">30</rosparam>
    </node>
</launch>
