<?xml version="1.0" encoding="utf-8"?>

<launch>
	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 kinect2_link kinect2_rgb_optical_frame 100" />
    <include file="$(find butia_vision_bridge)/launch/butia_vision_bridge.launch"/>

    <include file="$(find image_server)/launch/image_server.launch"/>

    <include file="$(find object_recognition)/launch/yolo_v3.launch"/>

    <include file="$(find segmentation)/launch/segmentation.launch"/>

    <include file="$(find image2kinect)/launch/image2kinect.launch"/>

    <include file="$(find people_tracking)/launch/people_tracking.launch"/>
</launch>
