<launch>
    <arg name="machine" default="localhost"/>
    <arg name="bvb_machine" default="$(arg machine)"/>
    <arg name="br_machine" default="$(arg machine)"/>
    <arg name="i2w_machine" default="$(arg machine)"/>
    <arg name="use_machine" default="true"/>
    <arg name="output" default="screen"/>
    <arg name="use_bridge" default="false"/>
    <arg name="use_image2world" default="true"/>
    <arg name="publish_tf" default="true"/>
    <arg name="config_file" default="yolo_tracker_recognition.yaml"/>
    <arg name="node_name" default="yolo_tracker_recognition"/>
    <arg name="camera" default="realsense"/>
    <arg name="launch_image2world" default="true"/>

    <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

    <include file="$(find butia_vision_bridge)/launch/butia_vision_bridge.launch">
        <arg name="machine" value="$(arg bvb_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="use_bridge" value="$(arg use_bridge)"/>
        <arg name="publish_tf" value="$(arg publish_tf)"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <include file="$(find butia_recognition)/launch/yolo_tracker_recognition.launch">
        <arg name="machine" value="$(arg br_machine)" />
        <arg name="use_machine" value="$(arg use_machine)"/>
        <arg name="node_name" value="$(arg node_name)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="config_file" value="$(arg config_file)"/>
    </include>

    <node pkg="butia_image2world" type="image2world.py" name="image2world_detections" output="$(arg output)" machine="$(arg machine)">
        <remap from="sub/recognitions2d" to="/butia_vision/br/recognitions2D"/>
        <remap from="pub/recognitions3d" to="/butia_vision/br/recognitions3D"/>
    </node>

    <node pkg="butia_image2world" type="image2world.py" name="image2world_tracking" output="$(arg output)" machine="$(arg machine)">
        <remap from="sub/recognitions2d" to="/butia_vision/pt/tracking2D"/>
        <remap from="pub/recognitions3d" to="/butia_vision/pt/tracking3D"/>
    </node>
</launch>