<launch>
  <arg name="machine" default="localhost"/>
  <arg name="use_machine" default="true"/>
  <arg name="output" default="screen"/>
  <arg name="use_kinect" default="true"/>
  <arg name="publish_tf" default="true"/>

  <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

  <group if="$(arg use_kinect)">
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
      <arg name="machine" value="$(arg machine)" />
      <arg name="use_machine" value="$(arg use_machine)"/>
      <arg name="output" value="$(arg output)"/>
      <arg name="publish_tf" value="$(arg publish_tf)"/>
    </include>
    <group if="$(arg publish_tf)">
      <node pkg="tf" type="static_transform_publisher" name="static_kinect" args="0.1362 0 0.8465 -1.57 0 -1.57 /dorso_link /kinect2_link 100"/> 
    </group>
  </group>

  <rosparam command="load" ns="butia_vision_bridge" file="$(find butia_vision_bridge)/config/ros.yaml"/>
  <rosparam command="load" ns="butia_vision_bridge" file="$(find butia_vision_bridge)/config/butia_vision_bridge.yaml"/>

  <node name="butia_vision_bridge_node" pkg="butia_vision_bridge" type="butia_vision_bridge_node" output="$(arg output)" machine="$(arg machine)"/>

</launch>
