<launch>
  <arg name="machine" default="localhost"/>
  <arg name="use_machine" default="true"/>
  <arg name="output" default="screen"/>

  <machine name="localhost" address="localhost" if="$(arg use_machine)"/>

  <include file="$(find face_recognition)/launch/face_recognition.launch">
    <arg name="machine" value="$(arg machine)"/>
    <arg name="use_machine" value="$(arg use_machine)"/>
    <arg name="output" value="$(arg output)"/>
  </include>

  <node name="classifier_training_node" pkg="face_recognition" type="classifier_training_node.py" output="$(arg output)" machine="$(arg machine)"/>
</launch>
